.chatWindow {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  overflow-y: scroll;
}
.chatWindow::-webkit-scrollbar {
  width: 0px;
}
