.sendMsg {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}
.input {
  display: flex;
  height: 100%;
  padding: 15px 30px;
  align-items: center;
  flex: 1 0 0;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fcfcfc;
}

.button {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  align-self: stretch;
  border-radius: 10px;
  background: rgba(0, 209, 255, 0.81);
  transition: 0.3s ease;
}
.button:hover {
  background: rgba(9, 175, 212, 0.81);
}
