.userName {
  color: #000;
  font-family: Roboto Slab;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.messageGet .messageWrapper,
.messageSend .messageWrapper {
  display: flex;
  padding: 3px 10px;
  margin-top: 5px;
  gap: 10px;
  align-items: flex-end;
  border-radius: 10px;
}
.messageGet .messageWrapper {
  background: rgba(255, 0, 0, 0.3);
}
.messageSend .messageWrapper {
  background: rgba(0, 209, 255, 0.3);
}
.textMessage {
  color: #000;
  font-family: Roboto Slab;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time {
  color: #000;
  font-family: Roboto Slab;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
