.messageSend,
.messageSystem,
.messageGet {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;

  .userName {
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
  .messageWrapper {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    border-radius: 10px;
    padding: 3px 10px;
    .textMessage {
      font-size: 16px;
      max-width: 320px;
      color: #000;
      font-weight: 400;
      word-wrap: break-word;
    }
    .time {
      font-size: 10px;
      color: #000;
      font-weight: 400;
    }
  }
}
.messageSend {
  align-items: flex-end;
  animation-duration: 1s;
  animation-name: appearsRight;
  .messageWrapper {
    background: rgba(0, 209, 255, 0.3);
  }
}
.messageGet {
  align-items: flex-start;
  animation-duration: 1s;
  animation-name: appearsLeft;
  .messageWrapper {
    background: rgba(255, 0, 0, 0.3);
  }
}
.messageSystem {
  align-items: center;
  .messageWrapper {
    background: rgba(116, 116, 116, 0.3);
  }
}

@keyframes appearsRight {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes appearsLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
